body {
    padding: 2em;
    font-family: Verdana, Arial, sans-serif;
}

h1, h2 {
    color: darkolivegreen;
}

h2 {
    margin-top: 1.4em;
}

table.doc {
    background-color: antiquewhite;
    border: solid 1px lightgrey;
    padding: 1em;
}

table.doc td {
    border: solid 1px lightgrey;
    padding: 0.4em;
}

table.doc tbody {
    font-family: monospace;
}
